#objectives-table-bizops {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td {
    border: 0;
    border-right: 2px solid #dddddd;
    text-align: left;
    padding: 8px 25px 8px 8px;
    width: 25%;
  }

  th {
    border: 0;
    border-right: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 25%;
  }

  i {
    font-size: 70px;
    color: #554488;
  }

  td:last-child,
  th:last-child {
    border: 0;
  }

  img {
    height: 100px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-link-title::before {
  height: auto;
  margin: 0;
}

#biz-tech-icons {
  color: #FA7035;
}